# Tips 데이터셋 연습문제
- 다음 문제들을 풀어보세요. 각 문제는 tips 데이터셋을 사용합니다.

In [3]:
import pandas as pd
import seaborn as sns

# tips 데이터셋 불러오기
tips = sns.load_dataset('tips')
print("데이터 미리보기:")
print(print(tips[(tips['smoker']=='No') &(tips['day']== 'Sun') &(tips['time'] == 'Dinner')].head(5)))
print("\n")

데이터 미리보기:
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
None

## 문제 1: 기본 통계
tips 데이터셋의 기본 통계 정보를 출력하세요. (describe() 메서드 사용)

In [4]:
# 코드

## 문제 2: 요일별 주문 수
요일(day)별 주문 수를 계산하고, 가장 많은 주문이 들어온 요일을 찾으세요.

In [5]:
# 코드
tips['day'].value_counts().index[0]

'Sat'

## 문제 3: 그룹 분석
인원(size)이 4명 이상인 그룹의 평균 총액과 평균 팁을 계산하세요.

In [8]:
# 코드
# groupby # 조건 필터링
size4_group = tips.loc[tips['size'] >=4 ,:]
size4_group.loc[:,['total_bill', 'tip']].mean()

total_bill    29.312174
tip            4.218478
dtype: float64

## 문제 4: 고액 주문 분석
- 총액(total_bill)이 50달러 이상인 주문들의 평균 팁과 팁 비율을 계산하세요.

In [25]:
# 코드
tips
t40_group = tips.loc[tips['total_bill']>=40 ,:]
rate =t40_group.loc[:,'tip']/t40_group.loc[:,'total_bill']
round(rate.mean(),3)

np.float64(0.119)

## 문제 5
- numpy + pandas 데이터프레임
- 이름, 키와 몸무게 데이터셋 5개 생성
- numpy로 bmi 함수 구현
- BMI = 체중(kg) / 신장(m)^2
- pandas 데이터프레임에 열 추가 (bmi)

In [ ]:
def cal_bmi(키,체중):
    #단위 변환 cm --> m
    신장m = 신장cm / 100
    bmi = 체중 / 신장m
    return bmi
for i in range(len(data['키'])):
    data['키'[i]] / 100


def cal_bmi(height_cm, weight_kg):

In [9]:
import numpy as np

# 데이터 생성
data = {
    '이름': ['김철수', '이영희', '박민수', '정수진', '최동욱'],
    '키': [175, 162, 180, 168, 177],  # cm
    '몸무게': [75, 52, 85, 57, 76]    # kg
}

df = pd.DataFrame(data)
df

    이름    키  몸무게
0  김철수  175   75
1  이영희  162   52
2  박민수  180   85
3  정수진  168   57
4  최동욱  177   76